<div class="container products-container">
  <div class="row">
    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/dawn_of_war-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">Dawn of War</a>
            <h4>225 DKK</h4>
          </h4>

        </div>
        <div class="ratings">
          <p>15 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/battlefield-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">Battlefield 1</a>
            <h4>275 DKK</h4>
          </h4>

        </div>
        <div class="ratings">
          <p>12 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/for_honor-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">For Honor</a>
            <h4>185 DKK</h4>
          </h4>
        </div>
        <div class="ratings">
          <p>31 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/gta_v-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">GTA V</a></h4>
          <h4>150 DKK</h4>
        </div>
        <div class="ratings">
          <p>6 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/middle_earth_shadow_of_war-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">Shadow of War</a>
            <h4>150 DKK</h4>
          </h4>
        </div>
        <div class="ratings">
          <p>18 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/resident_evil-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">Resident Evil</a>
            <h4>175 DKK</h4>
          </h4>

        </div>
        <div class="ratings">
          <p>18 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/dawn_of_war-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">Dawn of War</a>
            <h4>225 DKK</h4>
          </h4>

        </div>
        <div class="ratings">
          <p>15 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/battlefield-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">Battlefield 1</a>
            <h4>275 DKK</h4>
          </h4>

        </div>
        <div class="ratings">
          <p>12 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/for_honor-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">For Honor</a>
            <h4>185 DKK</h4>
          </h4>
        </div>
        <div class="ratings">
          <p>31 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/gta_v-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">GTA V</a></h4>
          <h4>150 DKK</h4>
        </div>
        <div class="ratings">
          <p>6 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/middle_earth_shadow_of_war-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">Shadow of War</a>
            <h4>150 DKK</h4>
          </h4>
        </div>
        <div class="ratings">
          <p>18 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/resident_evil-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">Resident Evil</a>
            <h4>175 DKK</h4>
          </h4>

        </div>
        <div class="ratings">
          <p>18 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>

    </div>


    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/dawn_of_war-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">Dawn of War</a>
            <h4>225 DKK</h4>
          </h4>

        </div>
        <div class="ratings">
          <p>15 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/battlefield-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">Battlefield 1</a>
            <h4>275 DKK</h4>
          </h4>

        </div>
        <div class="ratings">
          <p>12 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/for_honor-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">For Honor</a>
            <h4>185 DKK</h4>
          </h4>
        </div>
        <div class="ratings">
          <p>31 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/gta_v-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">GTA V</a></h4>
          <h4>150 DKK</h4>
        </div>
        <div class="ratings">
          <p>6 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/middle_earth_shadow_of_war-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">Shadow of War</a>
            <h4>150 DKK</h4>
          </h4>
        </div>
        <div class="ratings">
          <p>18 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>

    <div class="col-sm-4 col-lg-4 col-md-4">
      <div class="thumbnail">
        <img src="assets/images/resident_evil-min.jpg" alt="">
        <div class="caption">
          <h4><a href="#">Resident Evil</a>
            <h4>175 DKK</h4>
          </h4>
        </div>
        <div class="ratings">
          <p>18 anmeldelser</p>
          <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
            <i class="fa fa-star-o" aria-hidden="true"></i>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>