/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #333;
}
nav a,
a:focus,
a:hover {
  color: #fff;
} 
.form-inline .form-control{
  width:400px;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}
.btn-outline-primary,
.btn-outline-primary:hover,
.btn-outline-primary:focus {
  color:#fff}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-color: #fff;
}
body {
  color: #333;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}